<div style="display: flex; flex-direction: row; justify-content: space-evenly;" >
    <img src="/rust.svg" alt="rust" width="40" height="40" style={"margin-top: 0px;  filter: invert(100%);"} />
    <img src="/bevy.svg" alt="bevy" width="40" height="40" style={"margin-top: 0px;  filter: invert(100%);"} />
</div>
<div>
    An experiment in using points, lines and curves to create 3D shapes whose files use up much less data then traditional 3D model files.
</div>
<button style="width: 100%;" onclick="gotoAbstract()" >Learn More</button>

<script type="application/javascript" >
function gotoAbstract() {
    window.location.href = "/experiments/abstractmesh";
}
</script>