<div style="display: flex; flex-direction: row; justify-content: space-evenly;" >
    <img src="/java.svg" alt="java" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/kotlin.svg" alt="kotlin" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/minecraft.svg" alt="minecraft" width="40" height="40" style={"margin-top: 0px;  filter: invert(100%);"} />
    <img src="/fabric.svg" alt="fabric" width="40" height="40" style={"margin-top: 0px;  filter: invert(100%);"} />
</div>
<div>
    A Minecraft mod with the goal of enable even more customizable Minecraft gamemodes by using custom server implementations to "replace" the core of Minecraft.
</div>
<button style="width: 100%;" onclick="gotoCubic()" >Learn More</button>

<script type="application/javascript" >
function gotoCubic() {
    window.location.href = "/cubic";
}
</script>