<div style="display: flex; flex-direction: row; justify-content: space-evenly;" >
    <img src="/rust.svg" alt="rust" width="40" height="40" style={"margin-top: 0px;  filter: invert(100%);"} />
    <img src="/llvm.svg" alt="llvm" width="40" height="40" style={"margin-top: 0px;  filter: invert(100%);"} />
</div>
<div>
    An experimental programming language using LLVM inspired by Kotlin.
</div>
<button style="width: 100%;" onclick="gotoDaylight()" >Learn More</button>

<script type="application/javascript" >
function gotoDaylight() {
    window.location.href = "/experiments/daylightlang";
}
</script>