<div style="display: flex; flex-direction: row; justify-content: space-evenly;" >
    <img src="/java.svg" alt="java" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/kotlin.svg" alt="kotlin" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/ktor.svg" alt="ktor" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/consul.svg" alt="consul" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/docker.svg" alt="docker" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/redis.svg" alt="redis" width="40" height="40" style={"margin-top: 0px;"} />
</div>
<div>
    A family of libraries designed to make the creation of microservices in Kotlin and Java easier.
</div>
<button style="width: 100%;" onclick="gotoDaylinMicro()" >Learn More</button>

<script type="application/javascript" >
function gotoDaylinMicro() {
    window.location.href = "/daylinmicroservices";
}
</script>