<div style="display: flex; flex-direction: row; justify-content: space-evenly;" >
    <img src="/rust.svg" alt="rust" width="40" height="40" style={"height: 40px;  filter: invert(100%);"} />
    <img src="/wgpu.png" alt="wgpu" width="40" height="40" style={"height: 40px;  margin-top: 0px;"} />
</div>
<div>
    A ultra fast render engine built on Rust and WGPU for light-weight native and web applications.
</div>
<button style="width: 100%;" onclick="gotoForte()" >Learn More</button>

<script type="application/javascript" >
function gotoForte() {
    window.location.href = "/forteengine";
}
</script>