<div style="display: flex; flex-direction: row; justify-content: space-evenly;" >
    <img src="/kotlin.svg" alt="kotlin" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/opengl.svg" alt="opengl" width="40" height="40" style={"height: 40px;  filter: invert(100%);"} />
    <img src="/webgl.svg" alt="webgl" width="40" height="40" style={"height: 40px;  filter: invert(100%);"} />
</div>
<div>
    An attempt to make a Kotlin multiplatform render/game engine.  This was proceeded by Forte Engine.
</div>
<button style="width: 100%;" onclick="gotoKevin()" >Learn More</button>

<script type="application/javascript" >
function gotoKevin() {
    window.location.href = "/experiments/kevinengine";
}
</script>