<div style="display: flex; flex-direction: row; justify-content: space-evenly;" >
    <img src="/java.svg" alt="java" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/kotlin.svg" alt="kotlin" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/minecraft.svg" alt="minecraft" width="40" height="40" style={"margin-top: 0px;  filter: invert(100%);"} />
</div>
<div>
    A custom Minecraft server implementation designed to be light-weight and highly customizable.
</div>
<button style="width: 100%;" onclick="gotoMeld()" >Learn More</button>

<script type="application/javascript" >
function gotoMeld() {
    window.location.href = "/meld";
}
</script>