<div style="display: flex; flex-direction: row; justify-content: space-evenly;" >
    <img src="/java.svg" alt="java" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/kotlin.svg" alt="kotlin" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/minecraft.svg" alt="minecraft" width="40" height="40" style={"margin-top: 0px;  filter: invert(100%);"} />
    <img src="/paper.png" alt="paper" width="40px" height="40px" style={"margin-top: 0px;"} />
</div>
<div>
    A Paper plugin to allow for the easy creation of RPG games in Minecraft Paper servers.
</div>
<button style="width: 100%;" onclick="gotoPRPGT()" >Learn More</button>

<script type="application/javascript" >
function gotoPRPGT() {
    window.location.href = "/paperrpgtoolkit";
}
</script>