<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;" >
    <img src="/kotlin.svg" alt="kotlin" width="40" height="40" style={"margin-top: 0px;"} />
    <img src="/libgdx.svg" alt="libgdx" width="130" height="25" style={"height: 25px; margin-top: 0px;"} />
</div>
<div>
    An experiment in using web served content and code as part of a platform-native game engine.
</div>
<button style="width: 100%;" onclick="gotoWebStream()" >Learn More</button>

<script type="application/javascript" >
function gotoWebStream() {
    window.location.href = "/experiments/webstreamengine";
}
</script>